Repository HANSKMIEL/landscape-architecture-tool: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update .github/workflows/README.md
  .github/workflows/README.md
Due: none

Update src/services/dashboard_service.py
  src/services/dashboard_service.py
Due: backend

Update tests/conftest.py
  tests/conftest.py
Due: none

Update tests/services/test_recommendation_service.py
  tests/services/test_recommendation_service.py
Due: none

Update scripts/compile_requirements.sh
  scripts/compile_requirements.sh
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update tests/routes/test_reports.py
  tests/routes/test_reports.py
Due: none

Update tests/database/factories.py
  tests/database/factories.py
Due: none

Update quality_gates.py
  quality_gates.py
Due: none

Update .coveragerc
  .coveragerc
Due: none

Update scripts/pipeline_health_monitor.py
  scripts/pipeline_health_monitor.py
Due: none

Update scripts/phase4_validation.py
  scripts/phase4_validation.py
Due: none

Update scripts/copilot_workflow.py
  scripts/copilot_workflow.py
Due: none

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

Update docs/CI_TIMEOUT_SOLUTIONS.md
  docs/CI_TIMEOUT_SOLUTIONS.md
Due: none

Update frontend/src/components/ErrorBoundary.jsx
  frontend/src/components/ErrorBoundary.jsx
Due: frontend

Update frontend/src/components/Products.jsx
  frontend/src/components/Products.jsx
Due: frontend

Update frontend/src/components/Plants.jsx
  frontend/src/components/Plants.jsx
Due: frontend

Update frontend/src/components/Clients.jsx
  frontend/src/components/Clients.jsx
Due: frontend

Path conditions:
  frontend: any of: frontend/src/
  backend: any of: src/
