Repository HANSKMIEL/landscape-architecture-tool: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Implement comprehensive frontend testing infrastructure with Vitest, MSW, and accessibility testing (#71)
  frontend/TESTING_INFRASTRUCTURE_SUMMARY.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/__tests__/Dashboard.test.jsx
  frontend/src/components/__tests__/Plants.test.jsx
  frontend/src/components/__tests__/Projects.test.jsx
  frontend/src/test/infrastructure.test.jsx
  frontend/src/test/mocks/handlers.js
  frontend/src/test/mocks/server.js
  frontend/src/test/setup.js
  frontend/src/test/utils/mockData.js
  frontend/src/test/utils/render.jsx
  frontend/src/test/utils/testHelpers.js
  frontend/vitest.config.js
Due: frontend

Update frontend/src/test/utils/mswUtils.js
  frontend/src/test/utils/mswUtils.js
Due: frontend

Update frontend/src/test/mocks/handlers.js
  frontend/src/test/mocks/handlers.js
Due: frontend

Update src/tests/services/test_recommendation_service.py
  src/tests/services/test_recommendation_service.py
Due: backend

Update src/tests/database/factories.py
  src/tests/database/factories.py
Due: backend

Update src/services/recommendation_service.py
  src/services/recommendation_service.py
Due: backend

Potential fix for code scanning alert no. 151: Information exposure through an exception
  src/routes/performance.py
Due: backend

Update src/services/performance.py
  src/services/performance.py
Due: backend

Update frontend/src/components/DesignSystemShowcase.jsx
  frontend/src/components/DesignSystemShowcase.jsx
Due: frontend

Potential fix for code scanning alert no. 155: Information exposure through an exception
  src/routes/performance.py
Due: backend

Potential fix for code scanning alert no. 156: Information exposure through an exception
  src/routes/performance.py
Due: backend

Update scripts/clean-cache.sh
  scripts/clean-cache.sh
Due: none

Update CACHE_USAGE.md
  CACHE_USAGE.md
Due: none

Update requirements-dev.txt
  requirements-dev.txt
Due: none

Update tests/fixtures/test_data.py
  tests/fixtures/test_data.py
Due: none

Update tests/services/test_analytics_service.py
  tests/services/test_analytics_service.py
Due: none

Potential fix for code scanning alert no. 159: Information exposure through an exception
  src/main.py
Due: backend

Potential fix for code scanning alert no. 163: Information exposure through an exception
  src/main.py
Due: backend

Potential fix for code scanning alert no. 165: Workflow does not contain permissions
  .github/workflows/ci-old.yml
Due: none

Potential fix for code scanning alert no. 170: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Update src/schemas/__init__.py
  src/schemas/__init__.py
Due: backend

Create copilot_instructions.md
  .github/copilot_instructions.md
Due: none

Rename copilot_instructions.md to copilot-instructions.md
  .github/copilot-instructions.md
Due: none

CircleCI Commit
  .circleci/config.yml
Due: none

Path conditions:
  frontend: any of: frontend/src/
  backend: any of: src/
