Repository HANSKMIEL/landscape-architecture-tool: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Potential fix for code scanning alert no. 192: Information exposure through an exception
  src/routes/plant_recommendations.py
Due: backend

Update src/routes/plant_recommendations.py
  src/routes/plant_recommendations.py
Due: backend

Update src/routes/project_plants.py
  src/routes/project_plants.py
Due: backend

Update n8n-workflows/project-created.json
  n8n-workflows/project-created.json
Due: none

Potential fix for code scanning alert no. 199: Information exposure through an exception
  src/routes/project_plants.py
Due: backend

Update scripts/motherspace_safety.py
  scripts/motherspace_safety.py
Due: none

Update tests/test_issue_fingerprint.py
  tests/test_issue_fingerprint.py
Due: none

Update .github/workflows/motherspace-orchestrator.yml
  .github/workflows/motherspace-orchestrator.yml
Due: none

Potential fix for code scanning alert no. 200: Clear text storage of sensitive information
  frontend/src/components/settings/APISettings.jsx
Due: frontend

Update src/routes/invoices.py
  src/routes/invoices.py
Due: backend

Update src/main.py
  src/main.py
Due: backend

Update scripts/enhanced-deploy.sh
  scripts/enhanced-deploy.sh
Due: none

Update src/routes/excel_import.py
  src/routes/excel_import.py
Due: backend

Update scripts/validate_after_merge.sh
  scripts/validate_after_merge.sh
Due: none

Update .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Update src/utils/pr_analyzer.py
  src/utils/pr_analyzer.py
Due: backend

Update tests/utils/test_pr_analyzer.py
  tests/utils/test_pr_analyzer.py
Due: none

Update frontend/src/components/InvoiceQuoteManager.jsx
  frontend/src/components/InvoiceQuoteManager.jsx
Due: frontend

feat: Implement non-workflow optimizations
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  documentation/development/BRANCH_PROTECTION.md
Due: none

Update .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

feat: Implement non-workflow optimizations
  .github/labeler.yml
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

Add files via upload
  .github/workflows/ci-enhanced.yml
  .github/workflows/issue-triage.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/pr-automation.yml
Due: none

fix: Address code quality issues identified by enhanced CI
  frontend/src/App.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/InvoiceQuoteManager.jsx
  frontend/src/components/PhotoGallery.jsx
  frontend/src/components/ProjectTimeline.jsx
  frontend/src/components/settings/AppearanceSettings.jsx
  workflow-files.tar.gz
Due: frontend

fix: Address authentication issue in performance monitoring workflow
  .github/workflows/performance-monitoring.yml
Due: none

feat: Implement advanced development features
  src/services/client_presentation.py
  src/services/vectorworks_integration.py
Due: backend

feat: Configure repository settings and branch protection
  .github/CODEOWNERS
  .github/workflows/performance-monitoring.yml
Due: none

Update src/services/vectorworks_integration.py
  src/services/vectorworks_integration.py
Due: backend

Update src/services/client_presentation.py
  src/services/client_presentation.py
Due: backend

fix: Address Copilot review feedback
  .github/workflows/performance-monitoring.yml
  src/services/client_presentation.py
  src/services/vectorworks_integration.py
Due: backend

fix: Remove workflow file to resolve permissions issue
  .github/workflows/performance-monitoring.yml
Due: none

fix: Fix failing tests - user password test and performance route authentication
  tests/models/test_user.py
  tests/routes/test_performance.py
Due: none

fix: Fix remaining performance route tests authentication
  tests/routes/test_performance.py
Due: none

fix: Fix test assertions to match actual message format
  tests/routes/test_performance.py
Due: none

Path conditions:
  frontend: any of: frontend/src/
  backend: any of: src/
