Repository HANSKMIEL/landscape-architecture-tool: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  frontend:
    paths:
      - frontend/src/
  backend:
    paths:
      - src/

Update frontend/src/components/Plants.jsx
  frontend/src/components/Plants.jsx
Due: frontend

Update src/routes/settings.py
  src/routes/settings.py
Due: backend

Update .github/workflows/v1d-devdeploy.yml
  .github/workflows/v1d-devdeploy.yml
Due: none

Fix VPS deployment synchronization issue - enhanced workflow with dynamic configuration discovery (#620)
  .github/workflows/v1d-devdeploy.yml
  docs/solutions/VPS_DEPLOYMENT_FIX_IMPLEMENTATION.md
  docs/solutions/VPS_DEPLOYMENT_RESOLUTION.md
  docs/solutions/VPS_DEPLOYMENT_STATUS_RESOLUTION.md
  docs/solutions/VPS_DEPLOYMENT_SYNC_ISSUE_ANALYSIS.md
Due: none

Add comprehensive VPS deployment diagnostic and automation tools (#682)
  FIX_VPS_NOW.md
  INSTRUCTIONS_FOR_USER.txt
  README_DEPLOYMENT.md
  SOLUTION_SUMMARY.md
  VPS_DEPLOYMENT_GUIDE.md
  docs/VPS_ARCHITECTURE.md
  scripts/deploy_vps_automated.sh
  scripts/vps_diagnostic.sh
  scripts/vps_ssh_helper.sh
Due: none

feat: Add comprehensive VPS deployment script for V1.00D devdeploy
  docs/QUICK_VPS_DEPLOY.md
  docs/VPS_DEPLOYMENT_INSTRUCTIONS.md
  docs/solutions/VPS_DEPLOYMENT_SOLUTION.md
  scripts/vps_deploy_v1d.sh
Due: none

feat: Add interactive deployment helper script
  scripts/deploy_helper.sh
Due: none

docs: Add comprehensive V1.00D branch refactoring analysis
  docs/QUICK_VPS_DEPLOY.md
  docs/VPS_DEPLOYMENT_INSTRUCTIONS.md
  docs/solutions/REFACTORING_QUICK_GUIDE.md
  docs/solutions/V1_00D_REFACTORING_ANALYSIS.md
  docs/solutions/VPS_DEPLOYMENT_SOLUTION.md
  reports/V1_00D_VPS_COMPREHENSIVE_VERIFICATION_REPORT.md
  scripts/refactoring/phase1_root_cleanup.sh
Due: none

docs: Add Phase 2 completion report and progress overview
  docs/planning/REFACTORING_PROGRESS_OVERVIEW.md
  docs/solutions/PHASE2_COMPLETION_REPORT.md
Due: none

refactor: Phase 3 - Workflow optimization
  .github/workflows/README.md
  .github/workflows/ci-unified.yml
  archive/workflows-backup-phase3/README.md
  archive/workflows-backup-phase3/automated-validation.yml
  archive/workflows-backup-phase3/ci-enhanced.yml
  archive/workflows-backup-phase3/ci.yml
  archive/workflows-backup-phase3/codeql.yml
  archive/workflows-backup-phase3/codespaces-prebuilds.yml
  archive/workflows-backup-phase3/copilot-analysis-monitor.yml
  archive/workflows-backup-phase3/copilot-dependency-analysis.yml
  archive/workflows-backup-phase3/daughter-space-uiux.yml
  archive/workflows-backup-phase3/dependabot-auto-merge.yml
  archive/workflows-backup-phase3/deploy-demo-updated.yml
  archive/workflows-backup-phase3/deploy-demo.yml
  archive/workflows-backup-phase3/deploy-production.yml
  archive/workflows-backup-phase3/enhanced-deployment.yml
  archive/workflows-backup-phase3/integrationmanager-space.yml
  archive/workflows-backup-phase3/issue-triage.yml
  archive/workflows-backup-phase3/main-ci.yml
  archive/workflows-backup-phase3/makefile-test.yml
  archive/workflows-backup-phase3/manual-deploy.yml
  archive/workflows-backup-phase3/motherspace-orchestrator.yml
  archive/workflows-backup-phase3/nightly-maintenance.yml
  archive/workflows-backup-phase3/post-merge.yml
  archive/workflows-backup-phase3/pr-automation.yml
  archive/workflows-backup-phase3/production-deployment.yml
  archive/workflows-backup-phase3/space-management.yml
  archive/workflows-backup-phase3/stale.yml
  archive/workflows-backup-phase3/summary.yml
  archive/workflows-backup-phase3/test-failure-automation.yml
  archive/workflows-backup-phase3/v1-deployment.yml
  archive/workflows-backup-phase3/v1-development.yml
  archive/workflows-backup-phase3/v1d-devdeploy.yml
  archive/workflows-backup-phase3/verify-issue-closed.yml
  docs/planning/PHASE3_WORKFLOW_ANALYSIS.md
  scripts/refactoring/phase3_workflow_optimization.sh
Due: none

docs: Add Phase 3 completion report and update progress overview
  docs/planning/REFACTORING_PROGRESS_OVERVIEW.md
  docs/solutions/PHASE3_COMPLETION_REPORT.md
Due: none

feat: Phase 4 - Professional API Enhancement (COMPLETE)
  docs/api/EXTERNAL_INTEGRATION_GUIDE.md
  docs/planning/PHASE4_API_ENHANCEMENT_ANALYSIS.md
  docs/planning/REFACTORING_PROGRESS_OVERVIEW.md
  docs/solutions/PHASE4_COMPLETION_REPORT.md
  requirements.txt
  src/main.py
  src/utils/openapi_spec.py
Due: backend

docs: Add complete refactoring final report
  docs/solutions/REFACTORING_COMPLETE_FINAL_REPORT.md
Due: none

Checkpoint from VS Code for coding agent session
  .github/workflows/ci-unified.yml
  docs/api/EXTERNAL_INTEGRATION_GUIDE.md
  docs/planning/PHASE2_PREVIEW.md
  docs/planning/PHASE3_WORKFLOW_ANALYSIS.md
  docs/planning/PHASE4_API_ENHANCEMENT_ANALYSIS.md
  docs/planning/REFACTORING_PROGRESS_OVERVIEW.md
  docs/solutions/PHASE2_COMPLETION_REPORT.md
  docs/solutions/PHASE3_COMPLETION_REPORT.md
  docs/solutions/PHASE4_COMPLETION_REPORT.md
  docs/solutions/REFACTORING_COMPLETE_FINAL_REPORT.md
  docs/solutions/REFACTORING_QUICK_GUIDE.md
  docs/solutions/V1_00D_REFACTORING_ANALYSIS.md
  src/main.py
  src/utils/openapi_spec.py
Due: backend

security: Complete comprehensive security audit of V1.00D branch
  reports/security/COMPREHENSIVE_SECURITY_AUDIT_V1.00D.md
Due: none

docs: Complete testing & validation report for V1.00D
  reports/validation/V1_00D_COMPLETE_TESTING_VALIDATION_REPORT.md
Due: none

security: Implement high-priority security fixes and deployment improvements
  .github/SECRETS_REQUIRED.md
  .github/workflows/enhanced-deployment.yml
  docs/deployment/NGINX_VERIFICATION_GUIDE.md
  reports/security/README.md
  scripts/vps_deploy_v1d.sh
  src/main.py
  src/routes/security_docs.py
Due: backend

docs: Add comprehensive security improvements summary
  docs/solutions/SECURITY_IMPROVEMENTS_SUMMARY.md
Due: none

style: Format and clean up documentation and code
  .github/SECRETS_REQUIRED.md
  docs/deployment/NGINX_VERIFICATION_GUIDE.md
  docs/solutions/SECURITY_IMPROVEMENTS_SUMMARY.md
  reports/security/README.md
  reports/validation/V1_00D_COMPLETE_TESTING_VALIDATION_REPORT.md
  src/main.py
  src/routes/security_docs.py
Due: backend

config: Configure line-length to 120 chars for VS Code and editors
  .editorconfig
  .pylintrc
  .vscode/LINE_LENGTH_CONFIG.md
  .vscode/settings.json
  pyproject.toml
Due: none

docs: Add VS Code line-length configuration guide
  docs/solutions/VS_CODE_LINE_LENGTH_FIX.md
Due: none

style: Improve formatting in VS Code configuration files
  .vscode/LINE_LENGTH_CONFIG.md
  .vscode/settings.json
  docs/solutions/VS_CODE_LINE_LENGTH_FIX.md
Due: none

fix: Resolve YAML syntax errors in enhanced-deployment workflow
  .github/workflows/enhanced-deployment.yml
  scripts/test_api_endpoints.py
Due: none

style: Normalize YAML formatting in enhanced-deployment workflow
  .github/workflows/enhanced-deployment.yml
Due: none

feat: Add dynamic version display with branch information
  frontend/src/components/ResponsiveSidebar.jsx
  frontend/src/components/VersionDisplay.jsx
  scripts/vps_deploy_v1d.sh
  src/main.py
Due: frontend, backend

fix: Resolve npm ENOTEMPTY error in deployment script
  scripts/vps_deploy_v1d.sh
Due: none

fix: Improve npm dependency installation and add verification
  frontend/src/components/ResponsiveSidebar.jsx
  frontend/src/components/VersionDisplay.jsx
  scripts/vps_deploy_v1d.sh
  src/main.py
Due: frontend, backend

docs: Clarify production build mode vs production environment
  scripts/vps_deploy_v1d.sh
Due: none

fix: Implement comprehensive cache-busting strategy
  frontend/vite.config.js
  scripts/vps_deploy_v1d.sh
Due: none

fix: CRITICAL - Prevent V1.00D deployment to production environment
  .github/workflows/v1d-devdeploy.yml
  docs/solutions/DEPLOYMENT_CONTAMINATION_FIX.md
  scripts/deployment/EMERGENCY_RESTORE_PRODUCTION_TITLE.sh
Due: none

test: Trigger V1.00D deployment to verify directory fix
  .deployment-test
Due: none

chore: Remove deployment test file
  .deployment-test
Due: none

docs: Add comprehensive V1.00D development guide
  docs/development/V1_00D_DEVELOPMENT_GUIDE.md
Due: none

fix: Add nginx configuration for V1.00D API proxy
  scripts/deployment/check_backend_service.sh
  scripts/deployment/fix_dev_nginx.sh
Due: none
