Repository HANSKMIEL/landscape-architecture-tool: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 85%
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 1%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  frontend:
    paths:
      - frontend/src/
  backend:
    paths:
      - src/

docs(security): comprehensive V1.00D security and validation analysis (#687)
  reports/validation/ANALYSIS_UPDATE_2025-10-03.md
  reports/validation/README.md
  reports/validation/action_items.md
  reports/validation/comprehensive_v1d_security_analysis.md
  reports/validation/executive_summary.md
  reports/validation/technical_validation_details.md
  reports/validation/verification_checklist.md
Due: none

Fix: resolve merge conflict in Dockerfile on V1.00D branch.
  Dockerfile
Due: none

chore: add safe branch cleanup script
  scripts/safe-branch-cleanup.sh
Due: none

Update docs/deployment/VPS_DEVDEPLOY_SETUP_GUIDE.md
  docs/deployment/VPS_DEVDEPLOY_SETUP_GUIDE.md
Due: none

Update OPTIMIZATION_COMPLETE.md
  OPTIMIZATION_COMPLETE.md
Due: none

Update docs/solutions/HOSTINGER_COMPATIBILITY_VALIDATION.md
  docs/solutions/HOSTINGER_COMPATIBILITY_VALIDATION.md
Due: none

Update scripts/deployment/pre_deployment_validation.sh
  scripts/deployment/pre_deployment_validation.sh
Due: none

Harden project management UX and update copilot guide
  .github/copilot-instructions.md
  frontend/src/components/Charts/LandscapeCharts.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/Plants.jsx
  frontend/src/components/Projects.jsx
  frontend/src/components/__tests__/Projects.test.jsx
  frontend/src/components/ui/button.jsx
  frontend/src/i18n/LanguageProvider.jsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/nl.json
  frontend/src/test/utils/render.jsx
  requirements-dev.txt
Due: frontend

Improve validator cross-platform logging
  scripts/testing/automated_validation.py
Due: none

Fix Windows path escaping in dependency tests
  tests/test_dependency_validation_fix.py
Due: none

Harden devdeploy pipeline and refresh validation docs
  .github/workflows/v1d-devdeploy.yml
  docs/deployment/VPS_SECRET_RECOVERY_CHECKLIST.md
  frontend/src/components/AIAssistant.jsx
  scripts/deployment/deploy_v1d_to_devdeploy.sh
  scripts/testing/automated_validation.py
  scripts/testing/comprehensive_vps_test.py
  vps_test_report.json
Due: frontend

Ensure devdeploy rebuilds venv and skips dependency caches
  .github/workflows/v1d-devdeploy.yml
  scripts/deployment/deploy_v1d_to_devdeploy.sh
Due: none

Auto-install python3-venv during devdeploy
  .github/workflows/v1d-devdeploy.yml
  scripts/deployment/deploy_v1d_to_devdeploy.sh
Due: none

Install Node.js when devdeploy VM lacks npm
  .github/workflows/v1d-devdeploy.yml
  scripts/deployment/deploy_v1d_to_devdeploy.sh
Due: none

Update scripts/deployment/validate_deployment_prerequisites.sh
  scripts/deployment/validate_deployment_prerequisites.sh
Due: none

Update .github/workflows/v1d-devdeploy.yml
  .github/workflows/v1d-devdeploy.yml
Due: none

Enhance V1.00D DevDeploy workflow with comprehensive validation and documentation (#710)
  .github/workflows/v1d-devdeploy.yml
  docs/deployment/DEPLOYMENT_TROUBLESHOOTING.md
  docs/deployment/GITHUB_SECRETS_CONFIGURATION.md
  docs/deployment/IMPLEMENTATION_SUMMARY.md
  docs/deployment/QUICK_REFERENCE.md
  docs/deployment/README.md
  scripts/deployment/README.md
  scripts/deployment/check_github_secrets.sh
  scripts/deployment/validate_deployment_prerequisites.sh
Due: none

feat: add supplier loading indicators
  frontend/src/components/Suppliers.jsx
Due: frontend

refactor(frontend): standardize component state and translations
  frontend/src/App.jsx
  frontend/src/components/AIAssistant.jsx
  frontend/src/components/Clients.jsx
  frontend/src/components/DesignSystemShowcase.jsx
  frontend/src/components/EnhancedErrorBoundary.jsx
  frontend/src/components/ExcelImportManager.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/ImportExport.jsx
  frontend/src/components/InvoiceQuoteManager.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/OptimizedPlantForm.jsx
  frontend/src/components/PasswordReset.jsx
  frontend/src/components/PhotoGallery.jsx
  frontend/src/components/PhotoManager.jsx
  frontend/src/components/PhotoUpload.jsx
  frontend/src/components/Photos.jsx
  frontend/src/components/PlantRecommendations.jsx
  frontend/src/components/Plants.jsx
  frontend/src/components/Products.jsx
  frontend/src/components/ProjectPlantManagement.jsx
  frontend/src/components/ProjectTimeline.jsx
  frontend/src/components/Register.jsx
  frontend/src/components/ReportingDashboard.jsx
  frontend/src/components/Reports.jsx
  frontend/src/components/ResponsiveSidebar.jsx
  frontend/src/components/Settings.jsx
  frontend/src/components/settings/AISettings.jsx
  frontend/src/components/settings/APISettings.jsx
  frontend/src/components/settings/AppearanceSettings.jsx
  frontend/src/components/settings/BulkDataSettings.jsx
  frontend/src/components/settings/ReportSettings.jsx
  frontend/src/components/ui/chart.jsx
  frontend/vite.config.js
Due: frontend

refactor(frontend): rebuild user management workflows
  frontend/src/components/UserManagement.jsx
Due: frontend

chore: align linting and test stability safeguards
  .flake8
  Makefile
  pyproject.toml
  tests/conftest.py
  tests/fixtures/test_stability.py
  tests/models/test_user.py
  tests/test_api_review_endpoints.py
  tests/utils/test_pr_analyzer.py
Due: none

docs: outline V1.00D development roadmap
  docs/planning/V1_00D_NEXT_DEVELOPMENT_STEPS.md
Due: none

fix(tests): restore user helpers and satisfy lint checks
  src/models/user.py
  tests/models/test_user.py
Due: backend

test: align API review auth expectations
  tests/test_api_review_endpoints.py
Due: none

Update version in README to V1.00D
  README.md
Due: none

test(frontend): silence dashboard console warnings
  frontend/src/components/__tests__/Dashboard.test.jsx
Due: frontend

Refine V1.00D fullstack deployment workflow
  .github/workflows/v1d-devdeploy.yml
  scripts/__init__.py
  scripts/development/__init__.py
  scripts/development/update_dev_log.py
  scripts/update_dev_log.py
  src/routes/excel_import.py
  tests/conftest.py
  tests/fixtures/test_stability.py
  tests/test_dependency_validator_import.py
  tests/test_excel_import.py
Due: backend

Address lint warnings in plant recommendation and project plant suites
  src/models/landscape.py
  src/utils/pr_analyzer.py
  tests/test_plant_recommendations.py
  tests/test_project_plants.py
  tests/utils/test_db_init.py
Due: backend

next commit d4f5e1b
  src/routes/invoices.py
  tests/fixtures/test_data.py
  tests/routes/test_reports.py
  tests/routes/test_supplier_routes.py
  tests/test_api_review_endpoints.py
  tests/test_invoice_generation.py
Due: backend

same ol
  src/utils/pr_analyzer.py
  tests/test_project_plants.py
  tests/utils/test_db_init.py
Due: backend

Implement comprehensive User and UserSession model test coverage (#730)
  tests/models/test_user.py
Due: none

Merge V1.00D into main
  pull_request_template.md
Due: none

Merge V1.00D into main
  PULL_REQUEST_TEMPLATE.md
Due: none

Archive inactive files and clean up repository root directory (#773)
  .gitignore
  ARCHIVING_REPORT.md
  DEV_OPS_STEPS/DEV_OPS_COPILOT/COPILOT_INSTRUCTIONS_V1_POSTreporeorganisation.md
  DEV_OPS_STEPS/UNIFIED_DEVELOPMENT_GUIDE.md
  FINAL_STATUS_REPORT.md
  FIXES_APPLIED.md
  archive/README.md
  archive/legacy-wrappers/complete_vps_deployment.sh
  archive/legacy-wrappers/setup-github-pages.sh
  archive/old-docs/PULL_REQUEST_TEMPLATE.md
  archive/old-docs/README.md.updated
  archive/session-data/admin_cookies.txt
  archive/session-data/cookies.txt
  archive/status-reports/GITHUB_PAGES_SETUP.md
  archive/status-reports/OPTIMIZATION_COMPLETE.md
  archive/status-reports/V1_00_IMPLEMENTATION_COMPLETE.md
  archive/status-reports/VPS_DEPLOYMENT_FIX.md
  version-comparison-20250912_115155.md
Due: none

Add comprehensive best practices documentation, align copilot instructions, scripts, and testing with framework (#792)
  .github/copilot-instructions.md
  .github/copilot-instructions/README.md
  .github/copilot-instructions/backend.md
  .github/copilot-instructions/deployment.md
  .github/copilot-instructions/documentation.md
  .github/copilot-instructions/frontend.md
  .github/copilot-instructions/testing.md
  README.md
  docs/API_DOCUMENTATION.md
  docs/BEST_PRACTICES_OVERVIEW.md
  docs/BRANCHING_STRATEGY.md
  docs/COMPREHENSIVE_TESTING_ANALYSIS.md
  docs/DEBUGGING_GUIDE.md
  docs/DEVELOPMENT_GUIDE.md
  docs/WORKFLOW_ANALYSIS_REPORT.md
  scripts/README.md
  scripts/automated_validation.py
  scripts/copilot_workflow.py
  scripts/deployment/README.md
  scripts/deployment/promote_v1d_to_v1.sh
  scripts/testing/README.md
  tests/README.md
  tests/conftest.py
Due: none
