Repository HANSKMIEL/landscape-architecture-tool: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Fix React frontend rendering and API connectivity issues
  frontend/src/App.jsx
Due: frontend

FINAL FIX: Complete React frontend with working dashboard and all components
  frontend/src/components/Dashboard.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/Projects.jsx
  frontend/src/components/Settings.jsx
Due: frontend

COMPLETE FRONTEND FUNCTIONALITY: All components working with real data
  frontend/src/components/Clients.jsx
  frontend/src/components/Dashboard.jsx
Due: frontend

Final working React frontend with all features tested
  frontend/src/App.jsx
Due: frontend

Complete frontend testing - all components working
  frontend/src/components/Reports.jsx
  frontend/src/components/Settings.jsx
Due: frontend

feat: Complete landscape architecture tool with full functionality
  .github/workflows/deploy-demo-updated.yml
  .github/workflows/deploy-production.yml
  README.md.updated
  frontend/.env-files/.env.demo
  frontend/.env-files/.env.development
  frontend/.env-files/.env.production
  frontend/package.json.updated
  frontend/src/App.jsx
  frontend/src/components/AIAssistant.jsx
  frontend/src/components/Clients.jsx
  frontend/src/components/Dashboard.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/ImportExport.jsx
  frontend/src/components/Plants.jsx
  frontend/src/components/Products.jsx
  frontend/src/components/Projects.jsx
  frontend/src/components/Reports.jsx
  frontend/src/components/ResponsiveSidebar.jsx
  frontend/src/components/Suppliers.jsx
  frontend/src/i18n/locales/en.json
  frontend/src/i18n/locales/nl.json
  frontend/src/services/authService.js.fixed
  frontend/src/utils/mockApi.js.fixed
  frontend/vite.config.js.fixed
  manual-deploy.yml
  secure-deploy.yml
  src/main.py
  src/routes/ai_assistant.py
  src/routes/reports.py
Due: frontend, backend

Fix language undefined error and API URLs for production deployment
  frontend/src/App.jsx.backup
  frontend/src/components/Clients.jsx.backup
  frontend/src/components/Dashboard.jsx
  frontend/src/components/PlantRecommendations.jsx
  frontend/src/components/ProjectPlantManagement.jsx
  frontend/src/components/Settings.jsx
  frontend/src/test/mocks/handlers.js
  frontend/src/utils/mockApi.js.backup
Due: frontend

Complete fix for all language undefined errors
  frontend/src/components/ProjectPlantManagement.jsx
  frontend/src/components/ReportingDashboard.jsx
  frontend/src/components/settings/AISettings.jsx
  frontend/src/components/settings/APISettings.jsx
  frontend/src/components/settings/AppearanceSettings.jsx
  frontend/src/components/settings/BulkDataSettings.jsx
  frontend/src/components/settings/ReportSettings.jsx
  frontend/src/test/utils/render.jsx
Due: frontend

Final deployment with all fixes applied
  frontend/src/App.jsx.full
Due: frontend

Backend service fix: Add systemd service and deployment script for VPS authentication issue
  deploy_backend_fix.sh
  landscape-backend.service
  landscape-tool-backend-fix.tar.gz
Due: none

Add VPS backend service fix instructions for authentication issue
  vps_backend_fix_instructions.md
Due: none

Add GitHub Actions workflow for VPS backend deployment
  .github/workflows/deploy-vps-backend.yml
Due: none

Add VPS one-liner fix script and command list for backend deployment
  vps_fix_commands.txt
  vps_one_liner_fix.sh
Due: none

Add VPS backend fix scripts without workflow file
  .github/workflows/deploy-vps-backend.yml
Due: none

Add complete VPS deployment with Nginx configuration and backend service fix
  complete_vps_deployment.sh
  deploy_backend_corrected.sh
  landscape-backend-corrected.service
  nginx-optura.conf
Due: none

Implement complete user management system with authentication, password reset, and bulk import functionality
  frontend/src/App.jsx
  frontend/src/components/Login.jsx
  frontend/src/components/PasswordReset.jsx
  frontend/src/components/UserManagement.jsx
  src/main.py
  src/models/user.py
  src/routes/auth.py
  src/services/email_service.py
Due: frontend, backend

VPS deployment fixes and production configuration
  src/models/user.py
  src/models/user.py.local_backup
  vps_deployment_config.md
Due: backend

Fix: Restore working App.jsx from backup to resolve React initialization issue
  frontend/src/App.jsx
Due: frontend

🔧 Fix critical workflow issues
  .github/workflows/main-ci.yml
  .github/workflows/v1-deployment.yml
  .github/workflows/v1-development.yml
  fixes/nginx_health_fix.conf
Due: none

🔧 Add nginx health endpoint fix
  fixes/nginx_health_fix.conf
Due: none

🎯 Complete Issue #553 repository reorganization
  DEVELOPMENT_GUIDE.md
  README.md
  archive/FINAL_STATUS_REPORT.md
  archive/FIXES_APPLIED.md
  archive/legacy-scripts/complete_vps_deployment.sh
  archive/legacy-scripts/deploy-production.sh
  archive/legacy-scripts/setup-github-pages.sh
  archive/version-comparison-20250912_115155.md
  archive/workflow_validation_results.json
  scripts/update_v1_from_dev.sh
  setup-github-pages.sh
Due: none

🛡️ Complete deployment isolation and promotion system
  DEPLOYMENT_ISOLATION_GUIDE.md
  frontend/index.html
  scripts/manage_titles.sh
  scripts/promote_v1d_to_v1.sh
Due: none

🎯 Complete V1.00D DevDeploy automation system
  .github/workflows/v1d-devdeploy.yml
  scripts/deployment/README.md
  scripts/deployment/deploy_v1d_to_devdeploy.sh
  scripts/development/ensure_devdeploy_title.sh
Due: none

🛡️ Comprehensive branch protection and feature isolation system
  .github/BRANCH_PROTECTION_STRATEGY.md
  .github/copilot-instructions-v1d.md
  .github/copilot-instructions.md
  scripts/development/pre_commit_protection.sh
  src/utils/feature_flags.py
Due: backend

🧹 Complete V1.00D repository cleanup and organization
  REPOSITORY_STRUCTURE.md
  archive/README.md.updated
  config/README.md
  config/gunicorn.conf.py
  config/wsgi.py
  docs/deployment/DEPLOYMENT.md
  docs/development/CONTRIBUTING.md
  docs/reports/REPOSITORY_RESTRUCTURE_REPORT.md
  package-lock.json
  scripts/testing/quality_gates.py
Due: none

🔧 Fix data_access_required decorator - replace can_manage_data with has_permission
  src/routes/user.py
Due: backend

📊 Complete V1.00D testing and next development stage plan
  V1_00D_TESTING_REPORT.md
  cookies.txt
Due: none

🔧 Implement user registration endpoint
  .manus/.gitignore
  .manus/CONTINUATION_INSTRUCTIONS.md
  .manus/TASK_CONTINUATION.md
  .manus/load_secrets.sh
  src/routes/user.py
Due: backend

🎯 Complete immediate steps implementation
  frontend/package-lock.json
Due: none

🤖 Complete Manus Context Management System
  .manus/MANUS_CONTEXT_MANAGEMENT.md
  .manus/context/context_index.md
  .manus/reports/archive/ARCHIVE_INDEX.md
  .manus/reports/current_session_report.md
  .manus/scripts/archive_reports.sh
  .manus/scripts/create_context_snapshot.sh
Due: none

🚀 Complete Immediate Development Steps
  .manus/context/session_20250913_054129.tar.gz
  frontend/package-lock.json
  frontend/src/App.jsx
  frontend/src/components/Register.jsx
Due: frontend

📊 Update session report - Immediate steps completed
  .manus/reports/current_session_report.md
Due: none

🚨 Add MANDATORY auto-push protocol to Manus instructions
  .manus/CONTINUATION_INSTRUCTIONS.md
  .manus/TASK_CONTINUATION.md
Due: none

🤖 Complete GitHub Copilot Handoff System
  .manus/handoff/README.md
  .manus/handoff/copilot_context_20250913_055733.md
Due: none

🔧 Enhance Copilot context with API patterns and frontend guidelines
  .manus/handoff/copilot_context_20250913_060140.md
  .manus/handoff/copilot_context_20250913_060320.md
Due: none

🤖 Copilot handoff: Test task - Analyze and improve error handling patterns
  .manus/CONTINUATION_INSTRUCTIONS.md
  .manus/TASK_CONTINUATION.md
  .manus/handoff/copilot_assignment_20250913_060849.md
  .manus/handoff/copilot_context_20250913_060849.md
  .manus/handoff_to_copilot.sh
  .manus/reports/current_session_report.md
  .manus/scripts/copilot_handoff.sh
Due: none

🤖 Copilot handoff: Analyze and fix error handling in Login component - implement comprehensive error states, user feedback, and retry mechanisms
  .manus/handoff/copilot_assignment_20250913_061303.md
  .manus/handoff/copilot_context_20250913_061303.md
  .manus/reports/current_session_report.md
Due: none

✨ Enhanced Login component error handling
  frontend/src/components/Login.jsx
Due: frontend

Path conditions:
  frontend: any of: frontend/src/
  backend: any of: src/
