Repository HANSKMIEL/landscape-architecture-tool: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Update src/main.py
  src/main.py
Due: backend

Update tests/test_integration.py
  tests/test_integration.py
Due: none

Potential fix for code scanning alert no. 183: Information exposure through an exception
  src/main.py
Due: backend

Update src/utils/dependency_validator.py
  src/utils/dependency_validator.py
Due: backend

Update scripts/copilot_workflow.py
  scripts/copilot_workflow.py
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/development-steps.md
Due: none

Update .github/ISSUE_TEMPLATE/development-steps.md
  .github/ISSUE_TEMPLATE/development-steps.md
Due: none

Update frontend/src/test/utils/test-helpers.js
  frontend/src/test/utils/test-helpers.js
Due: frontend

Update frontend/src/components/__tests__/Projects.test.jsx
  frontend/src/components/__tests__/Projects.test.jsx
Due: frontend

Update Makefile
  Makefile
Due: none

Update tests/test_dependency_validation_fix.py
  tests/test_dependency_validation_fix.py
Due: none

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

Update tests/test_timeout_handling.py
  tests/test_timeout_handling.py
Due: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Update tests/test_database_isolation.py
  tests/test_database_isolation.py
Due: none

Update .github/workflows/automated-validation.yml
  .github/workflows/automated-validation.yml
Due: none

Potential fix for code scanning alert no. 187: Workflow does not contain permissions
  .github/workflows/automated-validation.yml
Due: none

Potential fix for code scanning alert no. 188: Information exposure through an exception
  src/utils/error_handlers.py
Due: backend

Update tests/test_dependency_validator_import.py
  tests/test_dependency_validator_import.py
Due: none

Update tests/routes/test_supplier_routes.py
  tests/routes/test_supplier_routes.py
Due: none

Add stale issue and PR management workflow
  .github/workflows/stale.yml
Due: none

Update .github/workflows/stale.yml
  .github/workflows/stale.yml
Due: none

Update frontend/eslint.config.js
  frontend/eslint.config.js
Due: none

Update tests/fixtures/test_data.py
  tests/fixtures/test_data.py
Due: none

Potential fix for code scanning alert no. 198: Information exposure through an exception
  src/routes/project_plants.py
Due: backend

Potential fix for code scanning alert no. 196: Information exposure through an exception
  src/routes/reports.py
Due: backend

Potential fix for code scanning alert no. 193: Information exposure through an exception
  src/routes/plant_recommendations.py
Due: backend

Path conditions:
  frontend: any of: frontend/src/
  backend: any of: src/
