Repository HANSKMIEL/landscape-architecture-tool: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

fix: Add authentication to all remaining failing tests
  tests/routes/test_performance.py
  tests/routes/test_plant_recommendations_extended.py
Due: none

fix: Complete authentication fixes for all remaining plant recommendation tests
  tests/routes/test_plant_recommendations_extended.py
Due: none

fix: Fix authenticated_client fixture variable name conflicts
  tests/routes/test_plant_recommendations_extended.py
Due: none

fix: Complete authentication fixes for all remaining failing tests
  tests/routes/test_plant_recommendations_extended.py
  tests/routes/test_plant_routes.py
Due: none

fix: Final test authentication and client reference fixes
  tests/routes/test_plant_recommendations_extended.py
  tests/routes/test_plant_routes.py
Due: none

feat: Add comprehensive repository configuration, secrets management, and webhook setup
  .env.example
  .github/security.md
  scripts/setup-secrets.sh
  scripts/setup-webhooks.sh
Due: none

fix: Address Copilot feedback - make contact info and plant classification configurable
  src/services/client_presentation.py
Due: backend

fix: Address additional Copilot feedback
  src/services/client_presentation.py
  src/services/vectorworks_integration.py
  tests/routes/test_plant_routes.py
Due: backend

feat: Complete comprehensive optimization with 87.8% test success rate (excluding workflows)
  src/services/vectorworks_integration.py
  tests/database/test_factories.py
  tests/models/test_landscape.py
  tests/models/test_user.py
  tests/routes/test_performance.py
  tests/routes/test_plant_recommendations_extended.py
  tests/services/test_analytics_service.py
  tests/services/test_base_service.py
  tests/services/test_client_service.py
  tests/services/test_dashboard_service.py
  tests/services/test_plant_service.py
  tests/services/test_project_service.py
  tests/services/test_supplier_service.py
  tests/test_api_review_endpoints.py
  tests/test_basic.py
  tests/test_coverage_boost.py
  tests/test_database_isolation.py
  tests/test_dev_log.py
  tests/test_excel_import.py
  tests/test_integration.py
  tests/test_invoice_generation.py
  tests/test_issue_fingerprint.py
  tests/test_motherspace_enhancement.py
  tests/test_n8n_integration.py
  tests/test_photo_system.py
  tests/test_project_plants.py
  tests/utils/test_db_init.py
  tests/utils/test_pr_analyzer.py
  workflow_validation_results.json
Due: backend

fix: Remove unused useEffect import in AppearanceSettings
  frontend/src/components/settings/AppearanceSettings.jsx
Due: frontend

feat: Add GitHub deployment options (excluding workflow)
  .devcontainer/demo.json
  DEPLOYMENT.md
  frontend/src/components/settings/AppearanceSettings.jsx
  frontend/src/services/api.js
  frontend/src/utils/mockApi.js
Due: frontend

Add GitHub Actions workflow for deploying demo
  .github/workflows/deploy-demo.yml
Due: none

feat: Add GitHub Pages setup guide and script
  setup-github-pages.sh
Due: none

feat: Add GitHub Pages deployment setup
  GITHUB_PAGES_SETUP.md
Due: none

fix: Resolve GitHub Pages asset loading and improve Codespaces
  .devcontainer/devcontainer-simple.json
  FIXES_APPLIED.md
  frontend/vite.config.js
Due: none

Configure production environment for frontend build
  .github/workflows/deploy-demo.yml
Due: none

Add files via upload
  .github/workflows/codespaces-prebuilds.yml
Due: none

fix: Add proper authentication mock for GitHub Pages demo
  frontend/src/services/api.js
  frontend/src/utils/mockApi.js
Due: frontend

fix: Replace complex devcontainer with simple, working configuration
  .devcontainer/README.md
  .devcontainer/devcontainer-complex.json.backup
  .devcontainer/devcontainer.json
Due: none

docs: Add comprehensive final status report
  FINAL_STATUS_REPORT.md
Due: none

trigger: Force GitHub Pages deployment with authentication fixes
  frontend/public/deployment-trigger.txt
Due: none

fix: Improve GitHub Pages mock API detection with detailed logging
  frontend/src/utils/mockApi.js
Due: frontend

fix: Force mock API mode for GitHub Pages with direct hostname detection
  frontend/src/lib/env.js
  frontend/src/services/api.js
Due: frontend

Fix authentication and add production deployment support
  VPS_DEPLOYMENT.md
  frontend/.env.demo
  frontend/.env.development
  frontend/.env.production
  frontend/package.json
  frontend/src/services/authService.js
  frontend/src/utils/mockApi.js
  frontend/vite.config.js
  scripts/deploy-vps.sh
Due: frontend

Potential fix for code scanning alert no. 267: Incomplete URL substring sanitization
  frontend/src/utils/mockApi.js
Due: frontend

Fix security issues identified by Copilot
  ENVIRONMENT_SETUP.md
  frontend/package.json
  frontend/src/utils/mockApi.js
  frontend/vite.config.js
  scripts/deploy-vps.sh
Due: frontend

Update ENVIRONMENT_SETUP.md
  ENVIRONMENT_SETUP.md
Due: none

Update scripts/deploy-vps.sh
  scripts/deploy-vps.sh
Due: none

Add ignore file for landscape tool
  landscape-tool-fixes/ignore this file
Due: none

Add files via upload
  landscape-tool-fixes/README.md
  landscape-tool-fixes/authService.js
  landscape-tool-fixes/mockApi.js
  landscape-tool-fixes/src/services/authService.js
  landscape-tool-fixes/src/utils/mockApi.js
  landscape-tool-fixes/vite.config.js
Due: none

Fix authentication issue and add multi-environment support
  frontend/.env.demo
  frontend/.env.development
  frontend/.env.production
  frontend/src/services/authService.js
  frontend/src/utils/mockApi.js
  frontend/vite.config.js
Due: frontend

Remove temporary fixes folder
  landscape-tool-fixes/README.md
  landscape-tool-fixes/authService.js
  landscape-tool-fixes/ignore this file
  landscape-tool-fixes/mockApi.js
  landscape-tool-fixes/src/services/authService.js
  landscape-tool-fixes/src/utils/mockApi.js
  landscape-tool-fixes/vite.config.js
Due: none

Add security scripts for VPS setup and credential checking
  scripts/README.md
  scripts/secure_vps_setup.sh
  scripts/security/README.md
  scripts/security/check_credentials.sh
Due: none

Add files via upload
  .github/workflows/secure-deploy.yml
Due: none

Delete .github/workflows/secure-deploy.yml
  .github/workflows/secure-deploy.yml
Due: none

Add files via upload
  .github/workflows/manual-deploy.yml
Due: none

Fix deployment workflow and add security enhancements
  .github/workflows/manual-deploy.yml
  ssh_key_setup_instructions.md
  test_vps_connection.sh
  validate_deployment_setup.sh
  vps_ssh_setup_guide.md
Due: none

Path conditions:
  frontend: any of: frontend/src/
  backend: any of: src/
